@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
  /* Setting all needed variables */

  /* Color variables */
  --white: #fff;
  --rose-50: #fff7fb;
  --rose-800: #7a284e;
  --stone-100: #f3e5d7;
  --stone-150: #e3ddd7;
  --stone-600: #5f564d;
  --stone-900: #312e2c;
  --brown-800: #854632;

  /* Spacing variables */
  --s-100: 8px;
  --s-150: 12px;
  --s-200: 16px;
  --s-300: 24px;
  --s-400: 32px;
  --s-500: 40px;
  --s-600: 48px;
  --s-1600: 128px;

  /* Font sizes */
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-28: 28px;
  --fs-36: 36px;
  --fs-40: 40px;

  /* Font weights */
  --fw-400: 400; /* Regular */ 
  --fw-600: 600; /* Semi-bold */
  --fw-700: 700; /* Bold */

  /* line-height */
  --l-150: 1.5; /* Line height 150% */
}

/* Default reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling fonts */
.text-preset-1{
  font-family: "Young Serif", serif;
  font-weight: var(--fw-400);
  font-size: clamp(var(--fs-36), 4vw, var(--fs-40));
  color: var(--stone-900);
}

.text-preset-2{
  font-family: "Young Serif", serif;
  font-weight: var(--fw-400);
  font-size: var(--fs-28);
  color: var(--brown-800);
}

.text-preset-3{
  font-family: "Outfit", serif;
  font-weight: var(--fw-600);
  font-size: var(--fs-20);
  color: var(--rose-800);
}

.text-preset-4{
  font-family: "Outfit", serif;
  font-weight: var(--fw-400);
  font-size: var(--fs-16);
  line-height: var(--l-150);
  color: var(--stone-600);
}

.text-preset-4-bold{
  font-family: "Outfit", serif;
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  line-height: var(--l-150);
  color: var(--brown-800);
}

span{
  font-weight: var(--fw-700);
}

/* Style for the recipe page */
body{
  display: grid;
  place-items: center;
  background: var(--stone-100);
  min-height: 100vh;

  main{
    background: var(--white);
    padding: var(--s-500) var(--s-400);

    .img-container{
      margin-bottom: var(--s-400);

      img{
        margin-top: -40px;
        margin-left: -40px;
        width: calc(100% + 70px);
      }
    }

    .title-recipe{
      .about-recipe{
        padding: var(--s-400) 0 var(--s-300);
      }
    }

    .cooking-time{
      background: var(--rose-50);
      padding: var(--s-300);
      border-radius: 12px;

      ul{
        padding: var(--s-300) 0 0 var(--s-300);

        li{
          padding-left: var(--s-200);;
          &::marker{
            color: var(--rose-800);
          }

          &:not(:last-of-type){
            padding-bottom: var(--s-100);
          }
        }
      }
    }
  }

  footer{
    font-size: 11px; 
    text-align: center;

    > p > a{
      color: hsl(228, 45%, 44%);
    }
  }
}